*{
    margin: 0;
    padding: 0;
    
}

body{
    background: url('../assets/images/forza\ 2.jpg')center/cover no-repeat fixed;
}

/*******HEADER******/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    font-family: "MiFuente";
    width: 100%;
    position: fixed;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); 
    z-index: 100;
    
    
}

header a{
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    animation: presentacion 3s;
    
}

header h1{
    margin-left: 5px;
    background: linear-gradient( rgb(0, 183, 255), rgb(255, 0, 255))  ;
    background-clip: text;
    color: transparent;
    text-decoration: none;

}


.img-nav{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.bar-nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    animation: presentacion 5s;

}



.bar-nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 30px;
}

.bar-nav a:hover{
    color: rgb(168, 101, 255);
    transition: 0.5s;
}



.bar-nav .a-nav-active{
    color:  rgb(168, 101, 255) ;
}


/****MAIN****/

main{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*****INICIO SECTIONS DE INDEX*****/

/****SECTIONS****/

.contenedor-inicio{
    text-align: center;
    background: linear-gradient( rgba(231, 231, 231, 0.458)75%,  rgba(231, 231, 231, 0));
    height: 50vh;
    padding-top: 20%;
    animation: presentacion 7s;
    font-size: 40px;
}

.contenedor-inicio h2{
    font-family: "MiFuente";

}


/*INDEX NOTICIA*/


.noticias{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding: 10vh 0;
    margin-bottom: 40vh;
}

.noticias img{
    width: 90vh;
    height: 30vh;
}

.cont-noticias{
    background-color: rgba(255, 255, 255, 0.747);
    padding: 40px;
    box-shadow:  -4px 10px 10px;
}

/*INDEX CONSOLAS*/

.consolas{
    padding: 20px;
    background: linear-gradient(rgba(231, 231, 231, 0), rgba(231, 231, 231, 0.458)75%);
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    padding-bottom: 20vh;
    

}

.cont-consola{
    text-align: center;
}

.cont-consola h2{
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    gap: 20px;
    margin-inline: 40vh;
    font-family: "MiFuente";
}


.consolas img{
    width: 400px;
    height: 300px;
    
}

/*****FIN SECTIONS DE INDEX*****/

/*****INICIO NOTICIAS*****/
/*****FIN NOTICIAS*****/


/*****INICIO PRUDUCTOS*****/
.productos-h2{
    padding-top: 15vh;
    text-align: center;
}
.productos{
    text-align: center;
    padding: 10vh;
    font-family: "MiFuente";
}

.productos h3{
    padding: 2vh;
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    margin-bottom: 6vh;
    max-width: max-content;
    margin-inline: auto;
    box-shadow: 1vh 1vh 2vh black;
    border-radius: 2vh;
}

.productos h4{
    box-shadow: 1vh 1vh 2vh black;
    padding: 1vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));

}

.playstation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 1vh;
    padding: 10vh;
}
.playstation img{
    width: 50vh;
    height: 50vh;
    box-shadow: 1vh 1vh 2vh black;
}

.playstation p{
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    margin-inline: 10vh;
    padding: 1vh;
    border-radius: 2vh;
    margin-top: 2vh;
    box-shadow: 1vh 1vh 2vh black;
}

.mandos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 1vh 0;
    
}

.mandos p{
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    margin-inline: 10vh;
    padding: 1vh;
    border-radius: 2vh;
    margin-top: 2vh;
    box-shadow: 1vh 1vh 2vh black;
    
}
.color-mandos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    
    border-radius: 2vh;
    padding: 1vh 0;
}
.color-mandos p{
    background: linear-gradient(rgba(255, 255, 255, 0.596)22%, rgb(119, 119, 119));
    margin-inline: 10vh;
    border: 2px solid black;
    padding: 1vh;
    border-radius: 2vh;
}

.mandos img{
    width: 40vh;
    height: 40vh;
    box-shadow: 1vh 1vh 2vh black;
}

.xbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 1vh;
}

.xbox p{
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    margin-inline: 10vh;
    padding: 1vh;
    border-radius: 2vh;
    margin-top: 2vh;
    box-shadow: 1vh 1vh 2vh black;
}
.serie-x{
    width: 50vh;
    height: 55vh;
    box-shadow: 1vh 1vh 2vh black;
    
}

.xbox-portable{
    width: 60vh;
    height: 35vh;
    box-shadow: 1vh 1vh 2vh black;
}
/*****FIN PRUDUCTOS*****/

/*INICIO PRESUPUESTO*/

/*FIN PRESUPUESTO*/

/******FOOTER*****/
footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  rgba(231, 231, 231, 0.458);
    

}

footer img{
    width: 50px;
    height: 50px;
}

.footer2{
    padding: 0 20px;
}


@font-face {
    font-family:"MiFuente";
    src: url(../assets/fonts/Play-Regular.ttf);
}

@keyframes presentacion{
    0%{
        opacity: 0;

    }

    100%{
        opacity:1;
    }
    
}

@media (max-width: 768px){
    main{
        flex-wrap: wrap;
    }
    .productos{
        flex-wrap: wrap;
        position: relative;
    }

    .playstation{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        
    }
    .playstation p{
        margin-bottom: 2vh;
    }

    .mandos{
        grid-template-columns: repeat(1, 1fr);
    }

    .xbox{
        grid-template-columns: repeat(1, 1fr);
    }
    .xbox p{
        margin-bottom: 2vh;
    }
}


