*{
    margin: 0;
    padding: 0;

}

body{
    background: url('../assets/images/forza\ 2.jpg')center/cover no-repeat fixed;
}

/*******HEADER******/

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    font-family: "MiFuente";
    width: 100%;
    position: fixed;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); 
    z-index: 100;
}

header a{
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-decoration: none;
    animation: presentacion 1s;
    
}

header h1{
    margin-left: 5px;
    background: linear-gradient( rgb(0, 183, 255), rgb(255, 0, 255))  ;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}


.img-nav{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.bar-nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    animation: presentacion 2s;
    flex-wrap: nowrap;
}

.check-menu{
    display: none;
}

.label-check{
    display: none;
}

.bar-nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 30px;
}

.bar-nav a:hover{
    color: rgb(168, 101, 255);
    transition: 0.5s;
}

.bar-nav .a-nav-active{
    color:  rgb(168, 101, 255) ;
}

/****MAIN****/

main{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/*****INICIO SECTIONS DE INDEX*****/

/****SECTIONS****/

.contenedor-inicio{
    text-align: center;
    background: linear-gradient( rgba(231, 231, 231, 0.458)75%,  rgba(231, 231, 231, 0));
    height: 50vh;
    padding-top: 20%;
    animation: presentacion 1s;
    font-size: 40px;
}

.contenedor-inicio h2{
    font-family: "MiFuente";

}

/*INDEX NOTICIA*/
.noticias{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
    padding: 10vh 0;
    margin-bottom: 40vh;
}

.noticias img{
    width: 90vh;
    height: 30vh;
}

.cont-noticias{
    background-color: rgba(255, 255, 255, 0.747);
    padding: 40px;
    box-shadow:  -4px 10px 10px;
}

.noticias img:hover{
    transform: translateY(-10px);
}
/*INDEX CONSOLAS*/

.consolas{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    place-items: center;
    padding-bottom: 20vh;
    

}

.cont-consola{
    text-align: center;
}

.cont-consola:hover{
    transform: translateY(-10px);
}


.cont-consola h2{
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    gap: 20px;
    margin-inline: 40vh;
    font-family: "MiFuente";
}


.consolas img{
    width: 100vh;
    height: 50vh;
    box-shadow: 1vh 1vh 2vh black; 
}

/*****FIN SECTIONS DE INDEX*****/

/*****INICIO NOTICIAS*****/



.noticias img{
    width: 80vh;
    height: 50vh;
    box-shadow: 1vh 1vh 2vh black;
}

.noticias h2{
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 1vh 1vh 2vh black;
    text-align: center;
}

.gta6{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10vh;
    font-family: "MiFuente";
    place-items: center;
}

.gta6 p{
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 1vh 1vh 2vh black;
}

.text-gta{
    z-index: 12;
    padding: 5vh;
    margin-left: 30vh;
    margin-right: -20vh;
}

.titulo-gta{
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;                 
    width: 60%;                    
    margin: 20px auto;             
    color: white;
}

.forza{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10vh;
    font-family: "MiFuente";
    place-items: center;
}

.forza p{
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 1vh 1vh 2vh black;
}

.text-forza{
    z-index: 12;
    padding: 5vh;
    margin-left: -20vh;
    margin-right: 20vh;
}

.titulo-forza{
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;                 
    width: 60%;                    
    margin: 20px auto;             
    color: white; 
    text-align: center;           
}

.text-forza h3{
    text-align: right;
}

.awards{
    text-align: center;
}

.text-awards{
    margin: 2vh;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.623);
    box-shadow: 1vh 1vh 2vh black;
}

.titulo-award{
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;                 
    width: 34%;                    
    margin: 20px auto;             
    color: white; 
    text-align: center;
}

/*****FIN NOTICIAS*****/


/*****INICIO PRUDUCTOS*****/

.productos{
    text-align: center;
    padding: 10vh;
    font-family: "MiFuente";
}

.productos h3{
    padding: 2vh;
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    margin-bottom: 6vh;
    max-width: max-content;
    margin-inline: auto;
    box-shadow: 1vh 1vh 2vh black;
    border-radius: 2vh;
}

.productos h4{
    box-shadow: 1vh 1vh 2vh black;
    padding: 1vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
}

.playstation{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 1vh;
    padding: 10vh;
}
.playstation img{
    width: 50vh;
    height: 50vh;
    box-shadow: 1vh 1vh 2vh black;
}

.playstation p{
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    margin-inline: 10vh;
    padding: 1vh;
    border-radius: 2vh;
    margin-top: 2vh;
    box-shadow: 1vh 1vh 2vh black;
}

.mandos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 1vh 0;
    
}

.mandos p{
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    margin-inline: 10vh;
    padding: 1vh;
    border-radius: 2vh;
    margin-top: 2vh;
    box-shadow: 1vh 1vh 2vh black;
    
}

.color-mandos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    
    border-radius: 2vh;
    padding: 1vh 0;
}

.color-mandos p{
    background: linear-gradient(rgba(255, 255, 255, 0.596)22%, rgb(119, 119, 119));
    margin-inline: 10vh;
    border: 2px solid black;
    padding: 1vh;
    border-radius: 2vh;
}

.mandos img{
    width: 40vh;
    height: 40vh;
    box-shadow: 1vh 1vh 2vh black;
}

.xbox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 1vh;
}

.xbox p{
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    margin-inline: 10vh;
    padding: 1vh;
    border-radius: 2vh;
    margin-top: 2vh;
    box-shadow: 1vh 1vh 2vh black;
}
.serie-x{
    width: 50vh;
    height: 55vh;
    box-shadow: 1vh 1vh 2vh black;
}

.xbox-portable{
    width: 60vh;
    height: 35vh;
    box-shadow: 1vh 1vh 2vh black;
}

.juegos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding: 1vh 0;
}

.juegos img{
    width: 40vh;
    height: 40vh;
    box-shadow: 1vh 1vh 2vh black;
}

.juegos p{
    background: linear-gradient(rgba(255, 255, 255, 0.856)22%, rgba(119, 119, 119, 0.808));
    margin-inline: 10vh;
    padding: 1vh;
    border-radius: 2vh;
    margin-top: 2vh;
    box-shadow: 1vh 1vh 2vh black;
}
/*****FIN PRUDUCTOS*****/

/*INICIO PRESUPUESTO*/
.formulario{
    background: linear-gradient( rgba(231, 231, 231, 0.458)75%,  rgba(231, 231, 231, 0));
    padding-top: 5%;
}

.formulario h3{
    font-family: "MiFuente" ;
    padding: 5vh;
}

.form-presupuesto{
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.674);
    width: 80vh;
    margin: auto;
    box-shadow: 1vh 1vh 2vh black;
    border-radius: 2vh;
}

.form-presupuesto input{
    width: 60%;
    border-radius: 0.5vh;
}


select{
    border-radius: 0.5vh;
}


textarea{
    width: 60%;
    height: 20vh;
    resize: none;
    border-radius: 0.5vh;
}

.privacidad {
    display: flex;
    align-items: start;
    margin-top: 2vh;
    padding-bottom: 2vh;
}

.text-check{
    font-size: 14px;
    margin-left: 0px;

}
.checkbox{
    width: 20px;
    height: 20px;
    margin-top: 1vh;

}
    
/*FIN PRESUPUESTO*/

/*INICIO CONTACTO*/

.contacto{
    text-align: center;
    padding-top: 15vh;
    font-family: "MiFuente";
}
.contacto img{
    width: 90vh;
    height: 60vh;
    box-shadow: 1vh 1vh 2vh black;
    margin-top: 5vh;

}

/*FIN CONTACTO*/

/******FOOTER*****/
footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)75%); ;
    margin-top: 33vh;
    text-align: center;
    color: rgb(168, 168, 168);
}

footer p{
    padding-left: 20px;
}

footer img{
    width: 50px;
    height: 50px;
}


@font-face {
    font-family:"MiFuente";
    src: url(../assets/fonts/Play-Regular.ttf);
}

@keyframes presentacion{
    0%{
        opacity: 0;

    }

    100%{
        opacity:1;
    }
    
}

@media (max-width: 571px) and (orientation: portrait) {
    .check-menu{
    display: none;
    }

    .label-check{
        display: block;
    }

    .bar-nav{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0; /*se pone a la derecha*/
        width: 100%; /*coge todo el ancho*/
        gap: 0; /*sin espacio entre los elementos*/

    }

    .bar-nav a{
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 100%;
        background-color: rgb(227, 227, 227);
        border-bottom: 1px solid black; 

    }

    .check-menu:checked + .bar-nav{
        display: flex;
        animation: presentacion 0.5s
    }
    
    .consolas{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .playstation{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .mandos{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .xbox{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .juegos{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .noticias{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
    .gta6{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        width:100vh ;
    }

    .text-gta{
        width: 80vh;
       
    }
    .text-gta6 p{
        margin-right: 20vh ;
    }

    .forza{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        width:100vh ;
    }

    .text-forza{
        width: 80vh;
    }

    .text-forza p{
        margin-left: 15vh ;
    }

    .awards{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        width:100vh ;
    }

    .text-awards{
        width: 40vh;
    }
    .text-awards p{
        width: 40vh;
    }

    footer{
        bottom: 0;
        left: 0;
        width: 100%;       
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px 0;
        text-align: center;
    }
}



