<!DOCTYPE html>
    <!--cambiamos el lenguage a "es" ya que vamos a usar el español-->
<html lang="es">
    <!--Principales meta etiquetas-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina web sobre videojuegos">
    <meta name="keywords" content="Videojuegos, entretenimiento, PC, playstation, gta6, games, novedades videojuegos, nintendo, xbox, noticias videojuegos">
    <meta name="robots" content="index, follow">
    <title>GamesFr</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <a href="../index.html"><img src="../assets/images/icons8-juego-de-azar-64.png" alt="icono de inicio"  class="img-nav">
        <h1>GamesFr</h1>
        </a>
         <input type="checkbox" name="check-menu" id="check-menu" class="check-menu">

        <nav class="bar-nav">
            <a class="a-nav" href="./noticias.html">Noticias</a>
            <a class="a-nav" href="./productos.html">Productos</a>
            <a class="a-nav" href="./presupuesto.html">Presupuesto</a>
            <a class="a-nav-active" href="#">Contacto</a>
        </nav>
        <label for="check-menu" class="label-check">
            <img src="../assets/images/icons8-desplegable-64.png" alt="icono menu hamburguesa" width="60px" height="60px">
        </label>
    </header>
    <main>
        <section class="contacto">
            <h2>Dirección de la empresa</h2>
            <img src="../assets/images/dirección.png" alt="direccción de la empresa">
        </section>
    </main>
    <footer>
        <p>Aviso de privacidad</p>
            <p> Dirección: Av. La Borbolla 45</p>

            <div class="footer2">
                <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="enlace a instagram"></a>
                <a href="https://x.com/?lang=es"><img src="../assets/images/twitter.png" alt="enlace twitter"></a>
                <a href="https://workspace.google.com/intl/es/gmail/"> <img src="../assets/images/gmail.png" alt="enlace a gmail"></a>
                <a href="https://www.youtube.com/?app=desktop&hl=es"> <img src="../assets/images/youtube.png" alt="enlace a youtube"></a>
            </div>
    </footer>
</body>
</html>


