<!DOCTYPE html>
    <!--cambiamos el lenguage a "es" ya que vamos a usar el español-->
<html lang="es">
    <!--Principales meta etiquetas-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina web sobre videojuegos">
    <meta name="keywords" content="Videojuegos, entretenimiento, PC, playstation, gta6, games, novedades videojuegos, nintendo, xbox, noticias videojuegos">
    <meta name="robots" content="index, follow">
    <title>GamesFr</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--cabecera con logo, titulo y barra de navegación-->
    <header>
        <a href="../index.html"><img src="../assets/images/icons8-juego-de-azar-64.png" alt="icono de inicio"  class="img-nav">
        <h1>GamesFr</h1>
        </a>
        <!--logo con check para desglosar el menu cuando se haga la pagia mas pequeña-->
          <input type="checkbox" name="check-menu" id="check-menu" class="check-menu">
    <!--barra de navegación-->
        <nav class="bar-nav">
            <a class="a-nav" href="./noticias.html">Noticias</a>
            <a class="a-nav" href="./productos.html">Productos</a>
            <a class="a-nav-active" href="#">Presupuesto</a>
            <a class="a-nav" href="./contacto.html">Contacto</a>
        </nav>
        <!-- imagen de logo para hacer check-->
        <label for="check-menu" class="label-check">
            <img src="../assets/images/icons8-desplegable-64.png" alt="icono menu hamburguesa">
        </label>
    </header>
    <main>
        <!--sección formulario-->
        <section class="formulario">
            <form class="form-presupuesto" id="formulario" action="#" method="post" autocomplete="on" enctype="multipart/form-data">
                <h3>Formulario</h3>
                <!--label para nombre-->
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" placeholder="Escriba su nombre" pattern="[A-Z a-z]{3,30}" required>
                <!--label para apellido-->
                <label for="apellido">Apellidos:</label>
                <input type="text" id="apellido" name="apellidos" placeholder="Escriba apellidos" pattern="[A-Z a-z]{3,30}" required>
                <!--label para email-->
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" placeholder="Escriba correo" pattern="[a-zA-Z0-9_-.]+@[a-z0-9._-]+\.[a-z]{2,4}" required>
                <!--label para edad-->
                <label for="edad">Edad</label>
                <input type="number" id="edad" name="edad" placeholder="Escriba su edad" min="1" max="100" required>
                <!--label con pestañas para elegir consola-->
                <label for="consola">Consola</label>
                <select id="consola" name="consola">
                    <!--grupo para consolas ps5-->
                    <option value="vacio">Seleccione consola</option>
                    <optgroup label="Playstation">
                        <option value="ps5 digital">Playstation 5 Digital</option>
                        <option value="ps5 slim">Playstation 5 Slim</option>
                        <option value="ps5 pro">Playstation 5 Pro</option>
                    </optgroup>
                    <optgroup label="Xbox">
                        <option value="xbox digital">Xbox Digital</option>
                        <option value="xbox serie-x">Xbox Serie X</option>
                        <option value="xbox-portable">Rog Xbox Ally</option>
                    </optgroup>
                </select>
                <!--label con pestañas para elegir mando-->
                <label for="control">Control</label>
                <select id="control" name="control">
                    <!--grupo para mandos ps5-->
                    <option value="vacio">Seleccione mando</option>
                    <optgroup label="Playstation">
                        <option value="dualsense blanco/negro">Dualsense Blanco/Negro</option>
                        <option value="dualsense gris/negro"> Dualsense Gris/Negro</option>
                        <option value="dualsense verde"> Dualsense Verde</option>
                        <option value="dualsense 30 aniversario">Dualsense 30th Aniversario</option>
                    </optgroup>
                    <!--grupo para mandos xbos-->
                    <optgroup label="Xbox">
                        <option value="control negro">Control Negro</option>
                        <option value="control blanco">Control Blanco</option>
                        <option value="control verde">Control Verde</option>
                        <option value="control azul">Control Azul</option>
                    </optgroup>
                    </select>
                    <!--área para escribir comentario-->
                    <label for="comentario">Comentario</label><br>
                    <textarea name="comentario" id="comentario" placeholder="Escriba comentario(Opcional)"></textarea>
                    <!--check de confirmación para poder enviar datos-->
                    <div class="privacidad">
                        <input class="checkbox" type="checkbox" id="privacidad" required>
                        <label class="text-check" for="privacidad">Aceptar política de privacidad</label>
                    </div>
                    <!--boton enviar, solo se podrá usar si se marca el checked-->
                    <button type="submit">Enviar solicitud</button>
            </form>
        </section>
    </main>
    <!--footer de página con direcciones, enlaces y aviso legal-->
    <footer>
        <p>Aviso de privacidad</p>
        <p> Dirección: Av. La Borbolla 45</p>

        <div class="footer2">
            <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="enlace a instagram"></a>
            <a href="https://x.com/?lang=es"><img src="../assets/images/twitter.png" alt="enlace twitter"></a>
            <a href="https://workspace.google.com/intl/es/gmail/"> <img src="../assets/images/gmail.png" alt="enlace a gmail"></a>
            <a href="https://www.youtube.com/?app=desktop&hl=es"> <img src="../assets/images/youtube.png" alt="enlace a youtube"></a>
        </div>
    </footer>
</body>
</html>