<!DOCTYPE html>
<!--cambiamos el lenguage a "es" ya que vamos a usar el español-->
<html lang="es">
<!--Principales meta etiquetas-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina web sobre videojuegos">
    <meta name="keywords"
        content="Videojuegos, entretenimiento, PC, playstation, gta6, games, novedades videojuegos, nintendo, xbox, noticias videojuegos">
    <meta name="robots" content="index, follow">
    <title>GamesFr</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <a href="../index.html"><img src="../assets/images/icons8-juego-de-azar-64.png" alt="icono de inicio"
                class="img-nav">
            <h1>GamesFr</h1>
        </a>
        <input type="checkbox" name="check-menu" id="check-menu" class="check-menu">

        <nav class="bar-nav">
            <a class="a-nav" href="./noticias.html">Noticias</a>
            <a class="a-nav-active" href="#">Productos</a>
            <a class="a-nav" href="./presupuesto.html">Presupuesto</a>
            <a class="a-nav" href="./contacto.html">Contacto</a>
        </nav>
        <label for="check-menu" class="label-check">
            <img src="../assets/images/icons8-desplegable-64.png" alt="icono menu hamburguesa" width="60px" height="60px">
        </label>
    </header>
    <main>
        <section>
            <section class="productos">
                <h3>Productos Sony</h3>
                <div>
                    <div>
                        <h4>Consolas</h4>
                    </div>
                    <div class="playstation">
                        <div>
                            <img src="../assets/images/ps5 digital.jpg" alt="playstation 5 digital">
                            <p>Playstation 5 Digital</p>
                        </div>
                        <div>
                            <img src="../assets/images/ps5 slim.jpg" alt="playstation 5 slim">
                            <p>Playstation 5 Slim</p>
                        </div>
                        <div>
                            <img src="../assets/images/ps5 pro.webp" alt="playstation 5 pro">
                            <p>Playstation 5 Pro</p>
                        </div>
                    </div>
                    <div>
                        <h4>Dualsense</h4>
                    </div>

                    <div class="mandos">
                        <div>
                            <img src="../assets/images/dualsense 1.webp" alt="dualsense negro y blanco">
                            <p>Negro/Blanco</p>
                        </div>
                        <div>
                            <img src="../assets/images/dalsense2.jpg" alt="dualsense gris y negro">
                            <p>Gris/Negro</p>
                        </div>
                        <div>
                            <img src="../assets/images/dualsense3.webp" alt="dualsense verde">
                            <p>Verde</p>
                        </div>
                        <div>
                            <img src="../assets/images/dualsense4.jpg" alt="dualsense 30 aniversaio">
                            <p>30th Aniversario</p>
                        </div>
                    </div>
                </div>
            </section>


            <section class="productos">
                <h3>Productos de Microsoft</h3>
                <div>
                    <div>
                        <h4>Consolas</h4>
                    </div>

                    <div class="xbox">
                        <div>
                            <img src="../assets/images/xbox digital.jpg" alt="xbox digital" class="serie-x">
                            <p>Xbox Digital</p>
                        </div>
                        <div>
                            <img src="../assets/images/rog xbox.jpg" alt="xbox portable" class="xbox-portable">
                            <p>Rog Xbox Ally</p>
                        </div>
                        <div>
                            <img src="../assets/images/xbox.jpg" alt="xbox series x" class="serie-x">
                            <p>Xbox Series X</p>
                        </div>
                    </div>
                    <div>
                        <h4>Mandos</h4>
                    </div>
                    <div class="mandos">
                        <div>
                            <img src="../assets/images/mando azul.png" alt="mando xbox azul">
                            <p>Azul</p>
                        </div>
                        <div>
                            <img src="../assets/images/mando blanco.jpg" alt="mando xbox blanco">
                            <p>Blanco</p>
                        </div>
                        <div>
                            <img src="../assets/images/mando negro.webp" alt="mando xbox negro">
                            <p>Negro</p>
                        </div>
                        <div>
                            <img src="../assets/images/mando verde.avif" alt="mando xbox verde">
                            <p>Verde</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="productos">
                <h3 id="juegos">Videojuegos</h3>
                <div>
                    <h4>Vdeojuegos ps5</h4>
                </div>
                <div class="juegos">
                    <div>
                        <img src="../assets/images/asasins creed ps5.webp" alt="">
                        <p>Assassins Creed Shadows</p>
                    </div>
                    <div>
                        <img src="../assets/images/borderlands ps5.jpg" alt="">
                        <p>Borderlands 4</p>
                    </div>
                    <div>
                        <img src="../assets/images/expedition ps5.avif" alt="">
                        <p>Clair Obscrure Expedition 33</p>

                    </div>
                    <div>
                        <img src="../assets/images/monster hunter.avif" alt="">
                        <p>Monster Hunters Wilds</p>
                    </div>
                </div>
                <div>
                    <h4>Videojuegos Xbox</h4>
                </div>
                <div class="juegos">
                    <div>
                        <img src="../assets/images/asasins creed xbox.jpg" alt="">
                        <p>Assassins Creed Shadows</p>
                    </div>
                    <div>
                        <img src="../assets/images/ordelands xbox.jpg" alt="">
                        <p>Borderlands 4</p>
                    </div>
                    <div>
                        <img src="../assets/images/expedition.jpg" alt="">
                        <p>Clair Obscrure Expedition 33</p>
                    </div>
                    <div>
                        <img src="../assets/images/monster hunter xbox.jpg" alt="">
                        <p>Monster Hunters Wilds</p>
                    </div>

                </div>
            </section>
    </main>
    <footer>
        <p>Aviso de privacidad</p>
        <p> Dirección: Av. La Borbolla 45</p>

        <div class="footer2">
            <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="enlace a instagram"></a>
            <a href="https://x.com/?lang=es"><img src="../assets/images/twitter.png" alt="enlace twitter"></a>
            <a href="https://workspace.google.com/intl/es/gmail/"> <img src="../assets/images/gmail.png"
                    alt="enlace a gmail"></a>
            <a href="https://www.youtube.com/?app=desktop&hl=es"> <img src="../assets/images/youtube.png"
                    alt="enlace a youtube"></a>
        </div>
    </footer>
</body>

</html>